<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
    .img{
        display:block;
        width:20vh;
        height:20vh;
        border:1px solid #999;
    }
    .upload{
        display:block;
        width:25vw;
        height:20vh;
        margin-bottom:-20vh;
        opacity:0;
    }
    .video{
        display:block;
        width:25vw;
        height:30vh;
        border:1px solid #999;
    }
    .video source{
        width: 25vw;
        height: 30vh;
    }
    .video_upload{
        display:block;
        width:25vw;
        height:30vh;
        background-color: red;
        margin-bottom:-30vh;
        opacity:0;
    }
    .video_tip{
        display: inline-block;
        width: 25vw;
        height: 4vh;
        font-size: 12px;
        line-height: 4vh;
        color: #bbb;
        position: relative;
        text-align: left;
    }
    .video_tip:hover{
        color:#71d2c1;
    }
    .textarea{
        width: 30vw;
        height: 25vh;
        border:1px solid #ccc;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>管理 - 添加域名</h3>
            </div>
        </div>
    </div>
    <form class="form-horizontal" action="" id="myform" method="post" enctype="multipart/form-data">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>接入自有域名：</label>
                </dt>
                <dd class="opt">
                    <textarea name="url" cols="50" style="height:200px;" placeholder="这里添加域名每行一个，请先查询域名备案核微信被封情况再提交，提交的域名你要有管理解析权，也就是你能操作解析域名，否则请勿提交。域名掉备案或者被微信封了之后，平台会取消这个域名的接入。域名格式如下：www.baidu.com，域名前后不能有空格，所有操作完成后会自动加到您的推广域名列表。"></textarea>
                    
            </dl>
            
            <div class="content"></div>
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //提交判断是否为空
    $('#myform .bot a').click(function(){
        var title=$("input[name='url']").val();
        if(title==''){
            alert("域名不能为空");
        }else{
            var form = $('#myform')[0];
            var fd = new FormData(form);
            $.ajax({
               url:'{:url("domain/add")}',
               type:'POST',
               async: false,
               cache: false,
               contentType: false,
               processData: false,
               data:fd,
               dataType:'json',
               success:function(z){
                   console.log(z);
                    //return false;
                   if(z==1){
                       alert('添加成功');
                       window.location.href="{:url('domain/dlist')}";
                   }else if(z==-1){
                       alert('该域名名称已存在');
                   }else{
                       alert("网络繁忙，请稍后再试");
                   };
               }
            }); 
        }
    });

</script>

</body>
</html>